.whatwedoHero, .managementHero {
    background-image: url('/public/images/whatWeDoHero.jpg');
    background-size: cover;
    background-position: -90px top;
    background-position: 59%;
}

.managementTextContainer {
    color: #000B1B;
    font-size: var(--fontSize-12px-services);
    padding-bottom: 5px;
    font-weight: 300;
}
.whatWeDoTextContainer {
    text-transform: capitalize;
    font-weight: 400;
    color: #000B1B;
    padding-bottom: 5px;
    font-size: var(--fontSize-12px-services);
}

.whatWeDoTextContainer ul, .managementTextContainer ul, .managementTextContainer ol {
    padding-left: 19px;
}
.whatWeDoTextContainer li {
    padding: 6px 0;
}
li a {
    color: var(--color-lightBlue);
}

.separatorManagement {
    width: 100%;
    border-top: 1px black solid;
}
.managementh5 {
    font-size: clamp(15px, 3vw, 17px);
    font-weight: var(--fontWeight-bold);
    font-family: "utile-display", sans-serif;
}
.managementh6 {
    font-size: clamp(13px, 3vw, 15px);
    font-weight: var(--fontWeight-bold);
    margin-top: 0;
    margin-bottom: 0 ;
}
.managementTextContainer ol li {
    padding: 2px 0;
}
.olManagement {
    margin-top: 0.5em;
}
.boatsWeManage {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.deliveriesHero {
    background-image: url('/public/images/deliveriesHero.jpg');   
    background-size: cover;
    background-position: center;
}
.instructionHero {
    background-size: cover;
    background-position: center;
    background-image: url('/public/images/instructionHero.jpg');  
}
.marinesurveyHero  {
    background-image: url('/public/images/marineSurveyHero.jpg');  
    background-size: cover;
    background-position: top;
}
.captainandcrewHero {
    background-image: url('/public/images/captainAndCrewServices.jpg');  
    background-size: cover;
    background-position: top;
}
.maritimerecoveryHero{
    background-image: url('/public/images/maritimeRecovery.jpg');  
    background-size: cover;
    background-position: center;
}

/* maritime survey */
.serviceItemName p {
    margin: 0;
}
.serviceItemTitle {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.06em;
    padding-left: 3%;
}
.serviceItem {
    background: #F5F5F5;
    padding: 0% 4%;
    margin-bottom: 8px;
    border-radius: 13.31px;
}
.seeMore {
    margin-right: unset !important;
    font-weight: 600;
    background: var(--color-lightBlue);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    height: 16.7px;
    line-height: 3.5px;
}
.seeMore:hover {
    cursor: pointer;
}
.hideService {
    display: none;
}
.servicesText {
    width: 100%;
    margin: 0;
    font-size: var(--fontSize-12px);
}
.serviceOpenContainer {
    border-top: 1px solid black;
    padding: 13px 0;
}
.servicesItemsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.serviceItemName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    font-weight: 400;
    margin: 13px 0;
}
.servicesItemTitle {
    width: 80%;
    margin: 0;
    font-size: 12px;
    font-size: var(--fontSize-12px);
    font-weight: 700;
}
.servicesContainer{
    display: flex;
    flex-direction: column;
}
.faqsTitle {
    margin-top: 35px;
    margin-bottom: 1.2em;
}

@media(min-width: 600px){
    .managementh5 {
        font-size: clamp(15px, 2.8vw, 18px);
    }
    .managementh6 {
        font-size: clamp(13px, 2.3vw, 15.5px);
    }
    .captainAndCrewHero h3 {
        font-size: 45px;
    }
    
    .whatWeDoTextContainer ul, .managementTextContainer ul, .managementTextContainer ol {
        padding-left: 20px;
    }
}
@media(min-width:1000px){
    .separatorManagement {
        margin: 2em 0;
    }
    
    .servicesItemTitle, .servicesText {
        font-size: var(--fontSize-12px-services);
    }
}
@media(min-width:1200px) {
    .servicesTitles {
        
        margin: 2em 0 !important;
    }
}