.whatHero {
    background-image: url('/public/images/whatWeDoHero.jpg');
}
.whatWeDoTextContainer {
    color: #000B1B;
    text-transform: capitalize;
    font-size: var(--fontSize-medium);
    padding-bottom: 5px;
}

.whatWeDoTextContainer ul, .managementTextContainer ul, .managementTextContainer ol {
    padding-left: 19px;
}
.whatWeDoTextContainer li {
    padding: 6px 0;
}
li a {
    color: var(--color-lightBlue);
}

.managementTextContainer {
    color: #000B1B;
    font-size: var(--fontSize-medium);
    padding-bottom: 5px;
}

li a {
    color: var(--color-lightBlue);
}
.separatorManagement {
    width: 100%;
    border-top: 1px black solid;
}
.managementh5 {
    font-size: clamp(14px, 3vw, 17px);
    font-weight: var(--fontWeight-bold);
}
.managementh6 {
    font-size: clamp(13px, 3vw, 15px);
    font-weight: var(--fontWeight-bold);
    margin-top: 0;
}
.managementTextContainer ol li {
    padding: 2px 0;
}
.boatsWeManage {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.deliveriesHero {
    background-image: url('/public/images/deliveriesHero.jpg');   
}