.whatHero {
    background-image: url('/public/images/whatWeDoHero.jpg');
}
.whatWeDoTextContainer {
    color: #000B1B;
    text-transform: capitalize;
    font-size: var(--fontSize-medium);
    padding-bottom: 5px;
}

.whatWeDoTextContainer ul {
    padding-left: 19px;
}
.whatWeDoTextContainer li {
    padding: 6px 0;
}
li a {
    color: var(--color-lightBlue);
}

.managementTextContainer {
    color: #000B1B;
    text-transform: capitalize;
    font-size: var(--fontSize-medium);
    padding-bottom: 5px;
}

.managementTextContainer ul {
    padding-left: 19px;
}
.managementTextContainer li {
    /* padding: 6px 0; */
}
li a {
    color: var(--color-lightBlue);
}