.ourCrewHero {
    background-image: url('/public/images/heroPc.jpg');
    background-position: top right;

    
    background-size: 250%;
    background-position: center;
}
.ourCrewH2 {
    margin-top: 1.5rem;
}
.descriptionCrew{
    font-size: var(--fontSize-12px);
    color: black;
    text-transform: capitalize;
}
.ourCrewBrujula {
    padding: 0 !important;
    background-image: url('/public/images/ourCrewSea.jpg');
    height: 265px !important; 
    background-position: center;
    background-size: cover;
}
.cardCrew {
    width: 48%;
    width: 42vw;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 10.5px;
}
.cardCrew img {
    border-radius: 10.5px 10.5px 0 0;
    width: 100%;
    height: calc(42vw - 20px);
    object-fit: cover;
}
.crewDataContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}
.crewName {
    color: black;
    font-weight: 600;
    font-size: var(--fontSize-12px);
    line-height: 1.2;
    margin: auto;
    font-family: "utile-display", sans-serif;
}
.crewText{
    color: var(--color-darkGrey);
    font-size: clamp(7px, 2vw, 8px);
    line-height: 2;
    margin: auto;
}
.crewInfoCard {
    padding: 15px;
}
.leftCrew {
    margin-right: 8px;
}
.rightCrew {
    margin-left: 8px;
}
@media(min-width:600px){
    .ourCrewHero{
        background-size: 250%;
        background-position: -109% center;
    }
    .ourCrewH2 {
        margin-top: 2rem;
    }
    .ourCrewBrujula {
        height: 60vw !important;
        min-height: unset !important;
    }
    .crewText{
        font-size: clamp(8px, 1.6vw, 10px);
        line-height: 2;
        margin: auto;
    }
}
@media(min-width:1000px){
    
    .ourCrewBrujula {
        height: 50vw !important;
        min-height: unset !important;
        margin: 2em 0px;
    }
    .cardCrew {
        width: 39.8vw;
    }
    .leftCrew {
        margin-right: 15px;
    }
    .rightCrew {
        margin-left: 15px;
    }
    .cardCrew img {
        height: calc(38vw - 20px);
        border-radius: 20px 20px 0 0;
    }
    .crewText{
        font-size: clamp(8px, 1.6vw, 12px);
    }
    .crewInfoCard {
        padding: 23px;
    }
    .ourCrewH2 {
        margin-top: 3rem;
    }
}
@media(min-width:1200px){
    .ourCrewHero {
        background-size: 100%;
    }
    .ourCrewSectionFirstDiv {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;        
        margin: 5em 0;
    }
    .ourCrewBrujula {
        width: 50%;
        margin: 0 !important;
        height: 450px !important;
    }
    .ourCrewInformation {
        width: 46%;
    }
    .descriptionCrew {
        font-size: clamp(14.5px, 1.23vw, 16px);
    }
    .ourCrewSectionFirstDiv .ourCrewH2 {
        margin-top: 0;
    }
    .cardCrew {
        width: 31%;
        margin: 1%;
    }
    .cardCrew img {
        height: unset;
        border-radius: 20px 20px 0 0;
        aspect-ratio: 4 / 3 !important;
    }
    /* .crewContainerCenter {
        
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
}