.ourCrewHero {
    background-image: url('/public/images/hero.jpg');
}
.descriptionCrew{
    font-size: var(--fontSize-medium);
    color: black;
    text-transform: capitalize;
}
.brujula {
    width: 100%;
    height: 260px;
}
.ourCrewBrujula {
    padding: 0 !important;
    background-image: url('/public/images/ourCrewSea.jpg');
}
.cardCrew {
    width: 48%;
    width: 42vw;
    /* border: 1px solid #80858D; */
    background-color: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 10.5px;
}
.cardCrew img {
    border-radius: 10.5px 10.5px 0 0;
    width: 100%;
    height: calc(42vw - 20px);
    object-fit: cover;
}
.crewDataContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.crewName {
    color: black;
    font-weight: var(--fontWeight-medium);
    font-size: var(--fontSize-medium);
    margin: auto;
    font-family: "utile-display", sans-serif;
}
.crewText{
    color: var(--color-darkGrey);
    font-size: 8.5px;
    /* width: 90%; */
    line-height: 2;
    margin: auto;
}
.crewInfoCard {
    padding: 10px;
}