.mapContainer{
    height: 200px;
    width: 100%;
    border-radius: 25px;
}
.infoWindow, .gm-style .gm-style-iw-c {
    background-color: var(--color-blue) !important;
    font-size: 10.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 120px;
    padding: 0px;
    border-radius: 5px;
    margin: 0;
}
.infoWindow::after, .gm-style .gm-style-iw-c::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent var(--color-blue);
    border-color: var(--color-blue);
}
.gm-style-iw-chr {
    display: none;
}
.gm-style-iw-c {
    border-color: var(--color-blue);
    overflow: unset;
}
@media(min-width:1200px){
    .mapContainer{
        height: 400px;
        border-radius: 15px;
    }   
}
@media(min-width:1400px){
    .mapContainer{
        height: 450px;
        border-radius: 15px;
    }   
}
@media(min-width:1800px){
    .mapContainer{
        height: 550px;
    }   
}