.heroHome {
    background-image: url('/public/images/hero.jpg');
    background-position: left;
    background-size: cover;
    padding: 30px 21px;
    border-radius: 20px;
    margin: 0 21px;
}
h1 {
    font-weight: 100;
    font-size: clamp(23px, 3vw, 30px);
    margin: 0;
    /* margin-top: 8px; */
}
.heroSubtitle {
    font-weight: var(--fontWeigth-normal);
    font-size: 18px;
    font-size: clamp(16px, 3.5vw, 20px);
}
.separator {
    width: 12.5%;
    border-top: 3px white solid;
}
.heroDescription {
    line-height: 1.5;
    font-size: 14px;
    font-size: clamp(12px, 3.5vw, 15px);
}
.heroDescription strong {
    font-weight: 600;
}
.buttonsHero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button{
    font-size: 16px;
    font-size: clamp(14px, 3.5vw, 18px);
    font-weight: var(--fontWeigth-bold);
    text-transform: uppercase;
    width: 27vw;
    background: #165BBB;
    color: white;
    padding: 15px 18px 15px 18px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 0;
}
.learnMore {
    /* margin-bottom: 1.4em; */
    background: white;
    color: #165BBB;
}