.heroHome {
    background-image: url('/public/images/hero.jpg');
    background-position: left top;
    margin: 0 20.73px;
}
h1 {
    font-weight: 100;
    font-size: var(--fontSize-30px);
    margin: 0;
    font-family: "utile-display", sans-serif;
    letter-spacing: 0.02rem;
}
.heroSubtitle {
    font-weight: var(--fontWeight-normal);
    font-size: 18px;
    font-size: var(--fontSize-18px);
}
.separator {
    width: 12.5%;
    border-top: 3px white solid;
}
.heroDescription {
    line-height: 1.5;
    font-size: 14px;
    font-size: var(--fontSize-14px);
}
.heroDescription strong {
    font-weight: 600;
}
.buttonsHero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 0 0;
}
.button{
    font-size: 16px;
    font-size: var(--fontSize-16px);
    font-weight: var(--fontWeight-bold);
    text-transform: uppercase;
    width: 27.5vw;
    background: var(--color-lightBlue);
    color: white;
    padding: 15px 18px 15px 18px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 0;
}
.learnMore {
    /* margin-bottom: 1.4em; */
    background: white;
    color: var(--color-lightBlue);
    margin-top: 0;
}
a {
    text-decoration: none;
}