.heroHome {
    background-image: url('/public/images/hero.jpg');
    background-position: left;
    margin: 0 21px;
}
h1 {
    font-weight: 100;
    font-size: var(--fontSize-30px);
    margin: 0;
}
.heroSubtitle {
    font-weight: var(--fontWeigth-normal);
    font-size: 18px;
    font-size: var(--fontSize-xlarge);
}
.separator {
    width: 12.5%;
    border-top: 3px white solid;
}
.heroDescription {
    line-height: 1.5;
    font-size: 14px;
    font-size: 12px;
}
.heroDescription strong {
    font-weight: 600;
}
.buttonsHero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button{
    font-size: 16px;
    font-size: var(--fontSize-large);
    font-weight: var(--fontWeigth-bold);
    text-transform: uppercase;
    width: 27vw;
    background: var(--color-lightBlue);
    color: white;
    padding: 15px 18px 15px 18px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 0;
}
.learnMore {
    /* margin-bottom: 1.4em; */
    background: white;
    color: var(--color-lightBlue);
}