.ourCrewHomeContainer {
    margin-top: 50px;
}
.ourCrewImageHome {
    width: 100%;
    border-radius: 25px;
}
.linkButton {
    display: block;
    margin: 1em 0;
}
.ourCrewHomeText {
    display: none;
}

@media(min-width:1200px){
    .ourCrewHomeText{
        display: block;
        color: black;
        font-size: clamp(16.5px, 1.35vw, 18px);
    }
    .ourCrewImageHome {
        width: 50%;
        object-fit: cover;
        border-radius: 25px;
    }
    .ourCrewHomeContainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .ourCrewFirstDiv {
        width: 45%;
    }
    .ourCrewFirstDiv .titlesHome {
        margin-top: 0;
    }
}
@media(min-width:1800px){
    .ourCrewHomeText{
        font-size: var(--fontSize-16px)
    }
}