.referenceCard {
    background-color: #F5F5F5;
    padding: 10px;
    margin: 10px;
    border-radius: 15.27px;
    flex: 0 0 50vw;
    height: fit-content;
    padding: 20px;
}
.referencesHomeContainer {
    margin: 40px 0;
    position: relative;
    overflow: hidden;
}

.referenceCardName {
    color: var(--color-blue);
    font-weight: 600;
    line-height: 18.3px;
    font-size: 14px;
    margin: 0;
}
.referenceCardText {
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
    line-height: 16px;
    font-size: 13px;
}
.referencesContainerScroll {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    /* padding: 40px;  */
}

.referencesContainerScroll::-webkit-scrollbar {
    display: none;
}
.referencesHomeContainer::before,
.referencesHomeContainer::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px; /* Adjust the width of the gradient as needed */
    z-index: 1;
    pointer-events: none; /* Allows clicking through the gradient */
}

.referencesHomeContainer::before {
    left: 4.5%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.referencesHomeContainer::after {
    right: 4.5%;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
.referencesHomeContainer .titlesHome, 
.referencesHomeContainer .subtitlesHome {
    position: relative;
    z-index: 2;
}
.firstReview {
    margin-left: 20vw;
}
@media(min-width:600px) {
    .referenceCard {
        flex: 0 0 33vw;
        max-width: 220px;
        padding: 22px;
        margin: 13px;
    }
    .firstReview {
        margin-left: 15vw;
    }
    .referenceCardName {
        font-size: var(--fontSize-14px);
        line-height: unset;
    }
    .referenceCardText {
        line-height: unset;
        font-size: var(--fontSize-12px);
    }

    .referencesHomeContainer::before,
    .referencesHomeContainer::after {
        width: 100px; /* Increase gradient width for larger screens */
    }
    
    .referencesHomeContainer::before {
        left: 5.5%;
    }

    .referencesHomeContainer::after {
        right: 5.5%;
    }
}
@media(min-width:1000px){
    .referenceCard {
        max-width: unset;
        padding: 40px;
    }
    

    .referencesHomeContainer::before,
    .referencesHomeContainer::after {
        width: 110px; /* Increase gradient width for larger screens */
    }
    
    .referencesHomeContainer::before {
        left: 7.5%;
    }

    .referencesHomeContainer::after {
        right: 7.5%;
    }
}

@media(min-width:1200px){
    .referenceCard {
        flex: 0 0 19vw;
        height: fit-content;
        padding: 30px;
    }
    .firstReview {
        margin-left: 7vw;
    }
    .referenceCardName {
        font-size: var(--fontSize-18px);
        font-weight: 700;
    }
    .referenceCardText {
        font-size: var(--fontSize-16px);
        color: rgba(0, 0, 0, 0.8);
    }
    
    .referencesHomeContainer::before,
    .referencesHomeContainer::after {
        width: 110px; /* Increase gradient width for larger screens */
    }
    
    .referencesHomeContainer::before {
        left: 9.5%;
    }

    .referencesHomeContainer::after {
        right: 9.5%;
    }
}
@media(min-width:1400px){
    .referenceCard {
        flex: 0 0 17vw;
    }
}
@media(min-width:1800px){
    .referenceCard {
        flex: 0 0 15vw;
    }
}