.referenceCard {
    background-color: #F5F5F5;
    padding: 10px;
    margin: 10px;
    border-radius: 15.27px;
    flex: 0 0 50vw;
}
.referencesHomeContainer {
    margin: 40px 0;
}

.referenceCardName {
    color: var(--color-blue);
    font-weight: 600;
    line-height: 18.3px;
    font-size: 13.75px;
}
.referenceCardText {
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
    line-height: 16px;
    font-size: 12px;
}
.referencesContainerScroll {
    
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
.firstReview {
    margin-left: 20vw;
}
@media(min-width:600px) {
    .referenceCard {
        flex: 0 0 33vw;
        max-width: 220px;
        padding: 22px;
        margin: 13px;
    }
    .firstReview {
        margin-left: 15vw;
    }
    .referenceCardName {
        font-size: var(--fontSize-14px);
        line-height: unset;
    }
    .referenceCardText {
        line-height: unset;
        font-size: var(--fontSize-12px);
    }
}
@media(min-width:1000px){
    .referenceCard {
        max-width: unset;
        padding: 40px;
    }
}

@media(min-width:1200px){
    .referenceCard {
        flex: 0 0 19vw;
        height: fit-content;
        padding: 30px;
    }
    .firstReview {
        margin-left: 7vw;
    }
    .referenceCardName {
        font-size: var(--fontSize-18px);
        font-weight: 700;
    }
    .referenceCardText {
        font-size: var(--fontSize-16px);
        color: rgba(0, 0, 0, 0.8);
    }
}
@media(min-width:1400px){
    .referenceCard {
        flex: 0 0 17vw;
    }
}
@media(min-width:1800px){
    .referenceCard {
        flex: 0 0 15vw;
    }
}