.referenceCard {
    background-color: #F5F5F5;
    padding: 10px;
    margin: 10px;
    border-radius: 15.27px;
}
.referenceCardName {
    color: var(--color-blue);
    font-weight: var(--fontWeigth-medium);
    line-height: 18.3px;
    font-size: 13.75px;
}
.referenceCardText {
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
    line-height: 16px;
    font-size: 12px;
}
