.servicesHomeContainer {
    color: black;
    padding: 0 21px;
}
.servicesTitleHome {
    color: #80858D;
    text-transform: uppercase;   
}
.servicesSubtitleHome {
    font-weight: 200;
    font-size: 30px;
    color: #073460;
    /* font-family: ; */
}
.servicesCardHome {
    width: 48%;
    border: 1px solid #80858D;
    margin-bottom: 20px;
    border-radius: 10.5px;
}
.servicesCardHome img {
    border-radius: 10.5px 10.5px 0 0;
    width: 100%;
    aspect-ratio: 4 / 3 !important;
    object-fit: cover;
}
.servicesCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.homeServiceName {
    text-transform: uppercase;
    color: #073460;
    font-weight: 700;
    font-size: 11px;
    width: 90%;
    margin: auto;
    padding: 10px 0;
}