.servicesHomeContainer {
    margin-top: 25px;
}
.servicesCardHome {
    width: 48%;
    border: 1px solid #acafb5;
    margin-bottom: 20px;
    border-radius: 10.5px;
    box-shadow: 1.03px 1.03px 4.11px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0.3px 0.3px 4.11px 0px #e9eaeb;

}

.homeServiceText {
    display: none;
}
.servicesCardHome img {
    border-radius: 10.5px 10.5px 0 0;
    width: 100%;
    aspect-ratio: 4 / 3 !important;
    object-fit: cover;
}
.servicesCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.homeServiceName {
    text-transform: uppercase;
    color: var(--color-blue);
    font-weight: var(--fontWeight-bold);
    font-size: 11px;
    font-size: 10.5px;
    width: 90%;
    margin: auto;
    height: 35px;
    margin-top: 5px;
    display: flex;
    align-items: flex-start;
}
@media(min-width:600px) {
    .homeServiceName {
        font-size: var(--fontSize-12px);
        height: 32px;
        margin-top: 6px;
    }
}
@media(min-width:1000px) {
    .homeServiceName {
        height: 45px;
        margin-top: 8px;
    }
    .servicesCardHome img {
        border-radius: 20px 20px 0 0;
    }
    .servicesCardHome {
        border-radius: 20px;
    }
}
@media(min-width:1200px) {
    .homeServiceName {
        height: unset;
        margin: 0.7em auto;
        font-size: var(--fontSize-12px-services);
    }
    .servicesCardHome img {
        border-radius: 20px 20px 0 0;
        aspect-ratio: 16 / 10 !important;
    }
    .servicesCardHome {
        border-radius: 18px;
        width: 30%;
        margin-bottom: 45px;
    }
    .homeServiceText {
        display: block;
        width: 90%;
        margin: auto;
        color: #000B1B;
        height: 83px;
        font-size: var(--fontSize-12px-services);
        text-transform: capitalize;
    }
}

@media(min-width:1400px) {
    .homeServiceName {
        width: 89%;
        margin: 0.9em auto 0.6em;
    }
    .homeServiceText {
        width: 89%;
        height: 100px;
        font-size: clamp(12.5px, 1.03vw, 16px);
    }
    .servicesCardHome {
        width: 31%;
    }
    .ourCrewFirstDiv {
        width: 42%;
    }
}