.contactHero {
    background-image: url('/public/images/contactHero.jpg');
    margin: 0 20.73px;    
    margin: 0px 4.8%;
    background-size: 180%;
    background-position: center top
}
.cardsContactContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px 11px;
}
.contactIcon {
    width: 20px;
}
.contactIconLocation {
    width: 15px;
}
.contactImageCircle {
    width: 38px;
    height: 38px;
    background: var(--color-lightBlue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 5px;
}
.cardContactDiv h5 {
    color: var(--color-lightBlue);
    font-size:var(--fontSize-12px);
    margin: 0.5rem;
}
.cardContactText {
    font-size:var(--fontSize-12px);
    color: black;
    margin: 0;
    height: 40px;
}
.cardContactDiv{
    margin: 9px 0;
    width: 43vw;
    height: 39vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--color-darkGrey);
    border-radius: 6.9px;
    box-shadow: 0px 0px 5.51px 0.69px rgba(0, 0, 0, 0.25);
}
.contactBigSubtitle {
    font-size: clamp(40px, 4vw, 48px);
    font-weight: var(--fontWeight-normal);
    color: var(--color-blue);
    font-family: "utile-display", sans-serif;
}
.contactFormBigContainer {
    margin: 0 20.73px;
    margin: 0px 4.8%;
}
.contactHeroP {
    font-size: var(--fontSize-14px);
}
/* copypaste */

.contactFormContainer{
    background-color:#FFF;
    width: 80%;
    border: 2.3px solid white;
    padding: 0 10%;
    border-radius: 20px;
}
.inputContainer {
    position: relative;
    margin-bottom: 15px;
}

.inputContact {
    background: #E9E9E9;
    border: none;
    padding: 5px 16px;
    border-radius: 5px;
    width: 85%;
    margin: 0 0 2% 0px;
    font-size: 15px;
    outline: none;
}
.inputContact:focus + .floatingLabel,
.inputContact:not(:placeholder-shown) + .floatingLabel {
  top: 0;
  left: 16px;
  font-size: 12px;
}
.inputContact::placeholder {
    font-family: 'Libre Franklin Variable', sans-serif !important;
    color:  #80858D;
    opacity: 1;
}
.formButton {
    margin-bottom: 20.73px !important;
    margin-bottom: 4.8% !important;
    margin-top: 0px;
    border: none;
    width: 50% !important;
    font-family: 'Libre Franklin Variable', sans-serif !important;
}
.learnMore:hover{
    color: var(--color-blue);
    background-color: #fff;
}
.floatingLabel {
    position: absolute;
    top: 40%;
    left: 16px;
    transform: translateY(-50%);
    color: #80858D;
    transition: 0.2s ease all;
    pointer-events: none;
    font-family: 'Libre Franklin Variable', sans-serif !important;
    margin-left: 5px;
}
  
.floatingLabelActive {
    top: 0;
    left: 16px;
    font-size: 12px;
}


@media(min-width: 600px){
    .contactHero {
        margin: 0px 6%;
    }
    .contactHeroP {
        font-size: clamp(20px, 3.4vw, 33px);
    }
    .cardContactDiv {
        margin: 14px 0;
        width: 35vw;
        height: 30vw;
        padding: 10px;
    }
    .cardsContactContainer {    
        margin: 0px 4.8%;
    }
    .contactIcon {
        width: 27px;
    }
    .contactIconLocation {
        width: 20px;
    }
    .contactImageCircle {
        width: 43px;
        height: 43px;
    }
    .cardContactText {
        height: 55px;
    }
    .inputContact {
        padding: 10px 16px;
    }
    .formButton {
        width: 40% !important;
    }
}
@media (min-width: 700px) {
    .cardContactText {
        height: 62px;
    }
}
@media(min-width: 1000px){
    .contactHero {
        margin: 0px 8%;
    }
    .cardContactDiv h5 {
        margin: 1rem;
    }    
    .cardContactText {
        height: 70px;
    }
    .cardContactDiv {
        margin: 30px 0;
        border-radius: 15px ;
        width: 31vw;
        height: 25vw;
        padding: 25px;
    }
    .contactIcon {
        width: 31px;
    }
    .contactIconLocation {
        width: 25px;
    }
    .contactImageCircle {
        width: 50px;
        height: 50px;
    }
    .contactFormBigContainer {    
        margin: 0px 8%;
    }
    .inputContact {
        padding: 16px;
        border-radius: 8px;
    }
    .formButton{
        width: 30% !important;
    }
}

@media(min-width:1200px){
    .contactHero {
        background-size: cover;
        background-position: center -200px;
        min-height: 24vh !important;
        text-align: center;
        padding: 4% 8% 5% !important;
    } 
    .contactHeroP {
        font-size: var(--fontSize-18px);
    }
    .cardContactDiv {
        width: 19%;
        height: 15vw;
        margin: 15px;
        margin-top: 0;
        background-color: white;
        padding: 10px;
        border-radius: 10px;
    }
    .cardsContactContainer {
        justify-content: center;
        position: relative;
        top: -30px;
        padding: 0;
        z-index: 100;
    }
    .cardContactText {
        font-size: var(--fontSize-14px);
    }
    .contactIcon {
        width: 27px;
    }    
    .contactIconLocation {
        width: 21px;
    }
    .cardContactDiv h5 {
        font-size: var(--fontSize-18px);
    }
}