.contactHero {
    background-image: url('/public/images/contact.jpg');
    margin: 0 21px;
}
.cardsContactContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px 11px;
}
.contactIcon {
    width: 20px;
}
.contactIconLocation {
    width: 15px;
}
.contactImageCircle {
    width: 40px;
    height: 40px;
    background: var(--color-lightBlue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 5px;
}
.cardContactDiv h5 {
    color: var(--color-lightBlue);
    font-size:var(--fontSize-medium);
    margin: 1em;
}
.cardContactText {
    font-size:var(--fontSize-medium);
    color: black;
    margin: 0;
}
.cardContactDiv{
    margin: 9px 0;
    width: 41vw;
    height: 37vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid var(--color-darkGrey);
    border-radius: 6.9px;
    box-shadow: 0px 0px 5.51px 0.69px rgba(0, 0, 0, 0.25);
}
