.logoNavbar{
    width: 126px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 23px;
    padding: 0 5.5%;
    height: 58px;
}
.dropdownHeader {
    font-size: 16px;
    font-weight: var(--fontWeight-medium);
    height: calc(100vh - 58px);
    padding: 10px 20.73px;
    padding: 10px 4.8%;
}
.dropdownItemsContainer {
    display: flex;
    flex-direction: column;
}
.dropdownItems {
    line-height: 3;
    color: #8B8B8B;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fontSize-16px);
}
.dropdownItems:hover {
    color: var(--color-lightBlue);
}
.serviceDropdownItems {
    line-height: 2.8;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--fontSize-12px-services);
}
.activeNavbar{
    color: black;
}
.servicesNavbar {
    display: flex;
    flex-direction: column;
    
    padding: 8px 0 18px;
    border-top: 1px solid #000B1B;
}
.viewAllServicesButtonNavbar {
    display: none;
}
.contactDesktop {
    display: none;
}

.burgerMenuIcon {
    width: 20px;
}
.arrowNavbar {
    height: 20px;
    width: 14px;
}
@media(min-width: 600px) {
    .navbar {
        height: 70px;
        padding: 0 6%;
    }
    .logoNavbar {
        width: 160px;
    }
    .dropdownHeader {
        padding: 10px 6%;
    }
    .dropdownItems {
        font-size: 20px;
    }
    .serviceDropdownItems {
        font-size: 15px;
    }

}
@media(min-width: 700px) {
    .navbar {
        height: 80px;
        padding: 0 6.5%;
    }
    .logoNavbar {
        width: 160px;
    }
    .burgerMenuIcon {
        width: 22px;
    }
    .dropdownHeader {
        padding: 10px 8.3%;
    }
    .dropdownItems {
        font-size: 20px;
    }
    .serviceDropdownItems {
        font-size: 15px;
    }

}
@media (min-width: 1000px) {
    .logoNavbar {
        width: 170px;
    }
    .burgerMenuIcon {
        width: 24px;
    }
    .navbar {
        height: 100px;
        padding: 0 8.3%;
    }
}

@media (min-width: 1200px) {
    .logoNavbar {
        width: 187px;
    }
    .arrowNavbar {
        display: none;
    }
    .burgerMenuIcon {
        display: none;
    }
    .navbar {
        height: 122px;
        padding: 0 9.86%;
    }
    .dropdownItemsContainer {
        flex-direction: row;
        align-items: center;    
    }
    .navbarContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .dropdownHeader {
        height: unset;
    }
    .dropdownItems {
        padding: 0 20px;
        font-size: 19px;
        font-weight: 300;
    }
    .serviceDropdownItems {
        line-height: 2.3;
        font-weight: 200;
        font-size: var(--fontSize-14px);
        padding: 0;
    }
    .servicesNavbar {    
        border-top: none;
        position: absolute;
        background: white;
        border: 1px solid #8B8B8B;
        border-radius: 6px;
        padding: 10px;
        z-index: 1;
        transform: translate(5%, 20px);
        width: 18vw;
    }
    .servicesNavbar::before {
        content: '';
        position: absolute;
        top: -10px; /* Ajusta para mover verticalmente la flecha */
        left: 20px; /* Ajusta para mover horizontalmente la flecha */
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #8B8B8B; /* Color del borde de la flecha */
        z-index: -1; /* Asegúrate de que la flecha esté detrás del div */
    }
    
    .servicesNavbar::after {
        content: '';
        position: absolute;
        top: -9px;
        left: 20.5px;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid white; /* Color del interior de la flecha */
    }
    .homeNavbar {
        display: none;
    }
    .viewAllServicesButtonNavbar {
        display: flex;
        margin-top: 8px ;
        border-radius: 5px;
        padding: 2px 20px;
    }
    .contactMobile {
        display: none;
    }
    .contactDesktop {
        display: block;
        line-height: 1;
        /* margin-top: 0 !important; */
        margin: 0 0 0 20px !important;
    }
    .notActive {
        color: white !important;
    }
}
@media(min-width:1800px){
    .logoNavbar {
        width: 195px;
    }
    .dropdownItems {
        padding: 0px 35px;
        font-size: 23px;
    }
    .contactDesktop {
        margin: 0 0 0 40px !important;
    }
}