.logoNavbar{
    width: 126px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 21px;
    height: 58px;
}
.dropdownHeader {
    font-size: 16px;
    font-weight: var(--fontWeigth-medium);
    height: calc(100vh - 58px);
    padding: 10px 21px;
}
.dropdownItemsContainer {
    display: flex;
    flex-direction: column;
}
.dropdownItems {
    line-height: 3;
    color: #8B8B8B;
    text-decoration: none;
}