.footerContainer {
    background-color: var(--color-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerTitle {
    font-size: var(--fontSize-20px);
    font-weight: var(--fontWeight-medium);
    font-family: "utile-display", sans-serif;
    letter-spacing: 0.02rem;
}
.logoFooter {
    width: 50%;
}
.contactFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.contactFooter .button {
    margin-top: 0;
}
.socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.socialMediaCircle {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 5px;
}

.socialMediaCircle img {
    width: 20px;
}
.indice {
    display: flex;
    justify-content: space-between;
}
.indice h6 {
    text-transform: uppercase;
    font-size: var(--fontSize-12px);
    margin: 1em 0;
}
.indice section {
    display: flex;
    flex-direction: column;
    width: 33.3%;
}
.homeSectionFooter {
    width: 20% !important;
}
.contactSectionFooter {
    width: 46% !important;
}
.linksHomeFooterIndice {
    font-size: 10px;
    font-size: var(--fontSize-12px);
    color: white;
    text-decoration: none;
    line-height: 2.5;
    font-weight: 300;
}
.linksHomeFooterIndice:hover{
    color: var(--color-darkGrey);
}
.locationFooter {
    margin: 0;
    font-size: var(--fontSize-12px);
    line-height: 1.4;
    font-weight: 300;
    color: white;
}
.underline {
    text-decoration: underline;
}
.marginbottom {
    margin-bottom: 1em;
}
/* .linkedin:hover, .instagram:hover {
    display: none;
}
.hoverLinkedin, .hoverInstagram {
    display: none;
} */

.socialMediaCircle img {
    position: absolute;
    transition: opacity 0.3s ease;
  }
  
  .linkedin, .instagram {
    opacity: 1;
  }
  
  .hoverLinkedin, .hoverInstagram {
    opacity: 0;
  }
  
  .socialMediaCircle:hover .linkedin, 
  .socialMediaCircle:hover .instagram {
    opacity: 0;
  }
  
  .socialMediaCircle:hover .hoverLinkedin, 
  .socialMediaCircle:hover .hoverInstagram {
    opacity: 1;
  }

@media(min-width:600px) {
    .footerTitle {
        margin-bottom: 0;
    }
    .logoFooter {
        width: 32%;
        margin: 2em 0;
    }
    .socialMediaCircle img {
        width: 30px;
    }
    .socialMediaCircle {
        width: 50px;
        height: 50px;
        margin: 10px;
    }
    .homeSectionFooter {
        width: 25% !important;
    }
    .indice section {
        width: 30% ;
    }
    .contactSectionFooter {
        width: 30% !important;
    }
}
@media(min-width:1000px){
    .logoFooter {
        width: 28%;
    }
    .socialMediaCircle img {
        width: 35px;
    }
    .socialMediaCircle {
        width: 50px;
        height: 50px;
    }
    .homeSectionFooter {
        width: 25% !important;
    }
    .indice section {
        width: 30% ;
    }
    .contactSectionFooter {
        width: 30% !important;
    }
}

@media(min-width:1200px){
    .footerContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 300px;
    }
    .indice {
        position: absolute;
        transform: translate(100%, 150px);
        width: 40vw;
    }
    .footerTitle {
        line-height: 1.2;
    }
    .logoFooter {
        width: 27%;
        margin: 3.5em 0;
    }
    .contactFooter {
        align-items: flex-start;
        flex-direction: row-reverse;        
        width: 24vw;
        position: absolute;
        right: 10%;
    }
    .contactFooter .button {
        margin-top: 0px;
    }
    .socialMediaCircle img {
        width: 25px;
    }
    .socialMediaCircle {
        width: 38px;
        height: 38px;
        margin: 5px;
    }
    .contactFooter .learnMore {
        margin-left: 2em;
        margin-right: 0;
    }
    .contactSectionFooter {
        width: 39% !important;
    }
    .linksHomeFooterIndice {
        line-height: 2;
    }    
    .homeSectionFooter {
        width: 18% !important;
    }
    .homeSectionFooter {
        order: 1; /* Primero */
    }

    .indice section:nth-child(2) {
        order: 3; /* Tercero */
    }
    
    .contactSectionFooter {
        order: 2; /* Segundo */
    }
    
}
@media(min-width:1800px){
    .logoFooter {
        width: 30%;
    }
    .indice {
        transform: translate(117%, 150px);
        width: 37vw;
    }
}