.footerContainer {
    background-color: var(--color-blue);
    height: 50vh;
    height: 465px;
    padding: 1em 20.73px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerTitle {
    font-size: var(--fontSize-20px);
    font-weight: var(--fontWeight-medium);
    font-family: "utile-display", sans-serif;
    letter-spacing: 0.02rem;
}
.logoFooter {
    width: 50%;
}
.contactFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contactFooter .button {
    margin-top: 0;
}
.socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.socialMediaCircle {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 5px;
}

.socialMediaCircle img {
    width: 20px;
}
.indice {
    display: flex;
    justify-content: space-between;
}
.indice h6 {
    text-transform: uppercase;
    font-size: var(--fontSize-12px);
    margin: 1em 0;
}
.indice section {
    display: flex;
    flex-direction: column;
    width: 33.3%;
}
.homeSectionFooter {
    width: 20% !important;
}
.contactSectionFooter {
    width: 38% !important;
}
.linksHomeFooterIndice {
    font-size: 10px;
    font-size: var(--fontSize-10px);
    color: white;
    text-decoration: none;
    line-height: 3;
    font-weight: 300;
}
.locationFooter {
    margin: 0;
    font-size: var(--fontSize-10px);
    line-height: 1.4;
    font-weight: 300;
}
.underline {
    text-decoration: underline;
}
.marginbottom {
    margin-bottom: 1em;
}