:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: white;
  font-family: 'Libre Franklin Variable', sans-serif;
}

:root {
  --color-grey: #E9E9E9;
  --color-darkGrey: #80858D;
  --color-blue: #073460;
  --color-lightBlue: #165BBB;

  --fontSize-30px: clamp(25px, 7vw, 40px);
  --fontSize-20px: clamp(18.5px, 5vw, 22px);
  --fontSize-18px: clamp(16px, 4.3vw, 19px);
  --fontSize-16px: clamp(14.5px, 4vw, 17px);
  --fontSize-14px: clamp(12.5px, 3.8vw, 15px);
  --fontSize-12px-services: clamp(10.35px, 2.5vw, 14px);
  --fontSize-12px: clamp(10.5px, 2.5vw, 14px);
  --fontSize-10px: clamp(8.8px, 2vw, 11px);
  
  /* chequear estos tamaños cuando tenga la tipo */
  
  --fontWeight-normal: 200;
  --fontWeight-medium: 500;
  --fontWeight-bold: 700;
}

.heroImages {
  padding: 30px 20.73px;
  padding: 30px 4.8%;
  border-radius: 20px;
  min-height: 68vw;
}

.heroImages h3 {
  font-weight: 200;
  font-size: var(--fontSize-30px);
  margin: 0.5em 0;
  font-family: "utile-display", sans-serif;
}

.homeContainers {
  padding: 0 20.73px;
  padding: 0px 4.8%;
}

.titlesHome {
  color: var(--color-darkGrey);
  text-transform: uppercase;
  font-size: 12px;
  margin: 1em 0;
}

.ourServicesTitleDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  margin-top: 15px;
}

.servicesTitles {
  color: var(--color-blue);    
  margin: 1em 0;
}
.menuServices {
  width: 10px;
  height: 10px;
}

h2 {
  font-weight: 100;
  font-size:  clamp(26px, 7.5vw, 32px);
  margin: 0;
  font-family: "utile-display", sans-serif;
  color: var(--color-blue);
  letter-spacing: 0.02rem;
  line-height: 1;
  margin: 1rem 0;
}
@media(min-width: 600px){
  .heroImages {
    padding: 7.2% 7.2% 0;
  }

}
@media(min-width: 700px) {
  
  :root {
    --fontSize-30px: clamp(40px, 10vw, 52px);
    --fontSize-20px: clamp(21px, 5vw, 24px);
    --fontSize-18px: clamp(19px, 4.3vw, 21px);
    --fontSize-16px: clamp(17px, 4vw, 19px);
    --fontSize-14px: clamp(15px, 3.8vw, 18px);

    --fontSize-12px-services: clamp(10.35px, 2.5vw, 12px);
    --fontSize-12px: clamp(10.5px, 2.5vw, 12px);
    --fontSize-10px: clamp(8.8px, 2vw, 10px);
  }
}